{% extends "base.html" %}

{% block content %}
  <div align="center">
    <h1 style=>Project Outline</h1>
  </div>

  <div>
    <ul>
      <li>Data comes from Engine Control Module (ECM) installed in vehicles</li>
      <li>Factors like top gear usage, cruise control usage and number of hard brakes etc are examples of driver behavior</li>
      <li>Truck load is not driver behavior - will need to be normalized</li>
      <li>Cluster trips - are a certain driver's most trips in the same cluster?</li>
      <li>Rank drivers based on a combination of drive fuel economy and risky driving</li>
    </ul>
  </div>
{% endblock %}
