<html>
    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Truck Driver Behavior</title>
      {% endif %}
      <style>
        a { font-weight:bold }
      </style>
    </head>
    <body>
      <div class="fw">
    <table cellpadding="10">
      <tr>
        <td><a href="/index">Home</a></td>
        <td><a href="/background">Outline</a></td>
        <td><a href="/regression">Regression</a></td>
        <td><a href="/clusters">Clusters</a></td>
        <td><a href="/feature_selection">Feature Importance</a></td>
        <td><a href="/ranking">Driver Ranking</a></td>
        <td><a href="/summary">Project Summary</a></td>
        <td><a href="/contact">Contact</a></td>
      </tr>
    </table>
  </div>
        <hr>
  <div class="fw">
        {% block content %}{% endblock %}
  </div>
    </body>
</html>
