<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Truck Driver Behavior</title>
      {% endif %}
    </head>
    <body
    <table>
      <tr>
        <td><a href="/index">Home</a></td>
        <td><a href="/background">Background and Scope</a></td>
        <td><a href="/regression">Regression</a></td>
        <td><a href="/clusters">Clusters</a></td>
        <td><a href="/feature_selection">Feature Importance</a></td>
        <td><a href="/ranking">Driver Ranking</a></td>
        <td><a href="/improvements">Future Work</a></td>
        <td><a href="/summary">Project Summary</a></td>
        <td><a href="/contact">Contact</a></td>
      </tr>
    </table>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
