{% extends "base.html" %}

{% block content %}

<html>
<head>
  <style>
    #wrapper { display: flex; }
    #left { flex: 0 0 50%; }
    #right { flex: 1; }
    #wide { flex: 0 0 90%;}
  </style>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>

</head>
<body>
<H1>K means clustering</H1>

<form action="/clusters">
<select name="selection">
  {% for cl_option in cl_options %}
    {% if cl_option == cl_sel %}
       <option selected value="{{ cl_option }}">{{ cl_option }}</option>
         {% else %}
  <option value="{{ cl_option }}">{{ cl_option }}</option>
{% endif %}
{% endfor %}
</select>
<input type="submit">
</form>
<div id='wrapper'>
  <div id='left'>

      {{ script|safe }}
      {{ div|safe }}
  </div>
  <div>
    {{ script2|safe }}
    {{ div2|safe }}
  </div>

</body>
</html>

{% endblock %}
