{% extends "base.html" %}

{% block content %}
<html>
<head>
  <style>
    #wrapper { display: flex; }
    #left { flex: 0 0 50%; }
    #right { flex: 1; }
    #wide { flex: 0 0 90%;}
    p { font-size: 35px; }
  </style>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>

</head>
<body>
    <h1 style="text-align:center">Ranking</h1>

    <div id='wrapper'>
      <div id='left'>

          {{ script|safe }}
          {{ div|safe }}
      </div>
      <div>
        <p> Fleet owner would like to be able to rank drivers based on a combination of drive fuel economy and safety </p>
        <br />
        <p> Assumption: Number of hard brakes is an indicator for unsafe driving </p>
        <br />
        <p> Decision tree with adjusted drive fuel economy and number of hard brakes as inputs </p>
        <br />
        <p> New trips can be scored based on trained model </p>
</body>
{% endblock %}
